<ion-navbar *navbar>
    <ion-title>
        Daily nutrition
    </ion-title>
</ion-navbar>

<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="nutritionView">
            <ion-segment-button value="total">
                Total
            </ion-segment-button>
            <ion-segment-button value="remaining">
                Remaining
            </ion-segment-button>
            <ion-segment-button value="required">
                Required
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="nutritionView">
        <div *ngSwitchWhen="'total'">
            <button block (click)="changeView()">
                {{ percentageView ? 'Numeric' : 'Percentage' }}
            </button>
            <nutrition-tables *ngIf="!percentageView" [nutritionData]="numericIntake"></nutrition-tables>
            <nutrition-tables *ngIf="percentageView" [percentage]="true" [nutritionData]="percentIntake"></nutrition-tables>
        </div>
        <nutrition-tables [nutritionData]="remainingIntake" *ngSwitchWhen="'remaining'"></nutrition-tables>
        <nutrition-tables [nutritionData]="requiredIntake" *ngSwitchWhen="'required'"></nutrition-tables>
    </div>
</ion-content>