<ion-navbar light *navbar>
    <ion-title>Write a post</ion-title>
    <ion-buttons end>
        <button (click)="editPost()">
            <ion-icon *ngIf="!editing" name="create"></ion-icon>
            <ion-icon *ngIf="editing" name="done-all"></ion-icon>
        </button>
        <button (click)="showOptions($event)">
            <ion-icon name="options"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content padding>
    <div [contentEditable]="editing" #postContent [innerHtml]="post.content">
        This text can be edited by the user.
    </div>
</ion-content>