<ion-navbar *navbar>
    <ion-title>Write a post</ion-title>
    <ion-buttons end>
        <button (click)="editPost()">
        <ion-icon *ngIf="!editing" name="create"></ion-icon>
        <ion-icon *ngIf="editing" name="done-all"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>
<ion-content>
    <div [contentEditable]="editing">
        This text can be edited by the user.
    </div>
    <div postEdit [editing]="editing">
        <h1>{{ post.title ? post.title : "My first post" }}</h1>
    </div>
</ion-content>