<ion-navbar *navbar>
    <ion-title>
        {{ recipe.name }}
    </ion-title>
</ion-navbar>

<ion-content padding>
    <h4>Chef</h4>
    <p>{{recipe.chef}}</p>
    <h4>Category</h4>
    <p>{{recipe.category}}</p>
    <h4>Dietary</h4>
    <p>{{recipe.dietary}}</p>
    <h4>Cooking method</h4>
    <p>{{recipe.cookMethod}}</p>
    <h4>Preparation time</h4>
    <p>{{recipe.prepTime}}</p>
    <h4>Cooking time</h4>
    <p>{{recipe.cookTime}}</p>
    <h4>Cooking temperature</h4>
    <p>{{recipe.cookTemperature}}</p>
    <h4>Ingredients</h4>
    <ion-list>
        <ion-item *ngFor="let ingredient of recipe.ingredients">
            <h4>{{ ingredient.name }}</h4>
            <ion-note item-right>
                {{ ingredient.quantity }} g
            </ion-note>
        </ion-item>
    </ion-list>
    <h4>Steps</h4>
    <ion-list>
        <ion-item *ngFor="let step of recipe.steps">
            <h4>{{ step }}</h4>
        </ion-item>
    </ion-list>
    <h4>Nutrition values</h4>
    <nutrition-tables [nutritionData]="recipe.nutrients"></nutrition-tables>
</ion-content>