<ion-navbar *navbar>
    <ion-title>
        {{ recipe.name }}
    </ion-title>
</ion-navbar>

<ion-content padding>
    <h3>Chef</h3>
    <p>{{recipe.chef}}</p>
    <h3>Category</h3>
    <p>{{recipe.category}}</p>
    <h3>Dietary</h3>
    <p>{{recipe.dietary}}</p>
    <h3>Cooking method</h3>
    <p>{{recipe.cookMethod}}</p>
    <h3>Preparation time</h3>
    <p>{{recipe.prepTime}}</p>
    <h3>Cooking time</h3>
    <p>{{recipe.cookTime}}</p>
    <h3>Cooking temperature</h3>
    <p>{{recipe.cookTemperature}}</p>
    <h3>Ingredients</h3>
    <ion-list>
        <ion-item *ngFor="let ingredient of recipe.ingredients">
            <h3>{{ ingredient.name }}</h3>
            <ion-note item-right>
                {{ ingredient.quantity }} g
            </ion-note>
        </ion-item>
    </ion-list>
    <h3>Steps</h3>
    <ion-list>
        <ion-item *ngFor="let step of recipe.steps">
            <h3>{{ step }}</h3>
        </ion-item>
    </ion-list>
    <h3>Nutrition values</h3>
    <nutrition-tables [nutritionData]="recipe.nutrients"></nutrition-tables>
</ion-content>