<ion-navbar light *navbar>
    <ion-title>Edit meal plan</ion-title>
    <ion-buttons end>
        <button (click)="cancelAp()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content>
    <form #apForm="ngForm" (ngSubmit)="createAp()">
        <ion-card>
            <ion-card-content>
                <ion-datetime displayFormat="MM DD YYYY" [(ngModel)]="activityPlan.date"></ion-datetime>
                <ion-list>
                    <ion-list-header>
                        Activities
                    </ion-list-header>
                    <button clear type="button" (click)="searchActivity()">
                        <ion-icon name="add"></ion-icon>
                        Add activity
                    </button>
                    <button full secondary type="button" (click)="changeActivityView()">
                        {{ durationView ? 'Duration' : 'Energy' }}
                    </button>
                    <div *ngIf="!durationView">
                        <ion-item *ngFor="let activity of activityPlan.activities; let i = index">
                            <button type="button" clear item-left (click)="removeActivity(i)">
                                <ion-icon danger name="trash"></ion-icon>
                            </button>
                            {{ activity.name }} {{ activity.energy }} kcal
                            <button type="button" clear item-right (click)="changeEnergy(activity)">
                                <ion-icon primary name="create"></ion-icon>
                            </button>
                        </ion-item>
                    </div>
                    <div *ngIf="durationView">
                        <ion-item *ngFor="let activity of activityPlan.activities; let i = index">
                            <button type="button" clear item-left (click)="removeActivity(i)">
                                <ion-icon danger name="trash"></ion-icon>
                            </button>
                            {{ activity.name }} {{ activity.time }} minutes
                            <button type="button" clear item-right (click)="changeDuration(activity)">
                                <ion-icon primary name="create"></ion-icon>
                            </button>
                        </ion-item>
                    </div>

                </ion-list>
            </ion-card-content>
        </ion-card>
        <button full primary type="submit" [disabled]="!apForm.form.valid">Set activity plan</button>
    </form>
</ion-content>