<ion-list>
    <ion-list-header>
        Macronutrients
    </ion-list-header>
    <ion-item>
        Water
        <ion-note item-right>
            {{ nutritionData.macronutrients.Water }} ml
        </ion-note>
    </ion-item>

    <ion-item>
        Protein
        <ion-note item-right>
            {{ nutritionData.macronutrients.Protein }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Carbohydrates
        <ion-note item-right>
            {{ nutritionData.macronutrients.Carbohydrates }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Sugars
        <ion-note item-right>
            {{ nutritionData.macronutrients.Sugars }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Glucose
        <ion-note item-right>
            {{ nutritionData.macronutrients.Glucose }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Galactose
        <ion-note item-right>
            {{ nutritionData.macronutrients.Galactose }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Lactose
        <ion-note item-right>
            {{ nutritionData.macronutrients.Lactose }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Maltose
        <ion-note item-right>
            {{ nutritionData.macronutrients.Maltose }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Sucrose
        <ion-note item-right>
            {{ nutritionData.macronutrients.Sucrose }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Starch
        <ion-note item-right>
            {{ nutritionData.macronutrients.Starch }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Fiber
        <ion-note item-right>
            {{ nutritionData.macronutrients.Fiber }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Fats
        <ion-note item-right>
            {{ nutritionData.macronutrients.Fats }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Saturated fat
        <ion-note item-right>
            {{ nutritionData.macronutrients['Saturated fat'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Monounsaturated fat
        <ion-note item-right>
            {{ nutritionData.macronutrients['Monounsaturated fat'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Polyunsaturated fat
        <ion-note item-right>
            {{ nutritionData.macronutrients['Polyunsaturated fat'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Trans fat
        <ion-note item-right>
            {{ nutritionData.macronutrients['Trans fat'] }} g
        </ion-note>
    </ion-item>
</ion-list>
<ion-list>
    <ion-list-header>
        Minerals
    </ion-list-header>
    <ion-item>
        Calcium
        <ion-note item-right>
            {{ nutritionData.minerals.Calcium }} mg
        </ion-note>
    </ion-item>

    <ion-item>
        Copper
        <ion-note item-right>
            {{ nutritionData.minerals.Copper }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Flouride
        <ion-note item-right>
            {{ nutritionData.minerals.Flouride }} mg
        </ion-note>
    </ion-item>

    <ion-item>
        Iron
        <ion-note item-right>
            {{ nutritionData.minerals.Iron }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Magnesium
        <ion-note item-right>
            {{ nutritionData.minerals.Magnesium }} mg
        </ion-note>
    </ion-item>

    <ion-item>
        Manganese
        <ion-note item-right>
            {{ nutritionData.minerals.Manganese }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Phosphorus
        <ion-note item-right>
            {{ nutritionData.minerals.Phosphorus }} mg
        </ion-note>
    </ion-item>

    <ion-item>
        Potassium
        <ion-note item-right>
            {{ nutritionData.minerals.Potassium }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Selenium
        <ion-note item-right>
            {{ nutritionData.minerals.Selenium }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Sodium
        <ion-note item-right>
            {{ nutritionData.minerals.Sodium }} mg
        </ion-note>
    </ion-item>

    <ion-item>
        Zinc
        <ion-note item-right>
            {{ nutritionData.minerals.Zinc }} mg
        </ion-note>
    </ion-item>

</ion-list>
<ion-list>
    <ion-list-header>
        Vitamins
    </ion-list-header>
    <ion-item>
        Vitamin A
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin A'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        alpha-Carotene
        <ion-note item-right>
            {{ nutritionData.vitamins['alpha-Carotene'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        beta-Carotene
        <ion-note item-right>
            {{ nutritionData.vitamins['beta-Carotene'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Retinol
        <ion-note item-right>
            {{ nutritionData.vitamins['Retinol'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin B1
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin B1'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin B2
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin B2'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin B3
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin B3'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin B5
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin B5'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin B6
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin B6'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin B9
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin B9'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Folic acid
        <ion-note item-right>
            {{ nutritionData.vitamins['Folic acid'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        vitamin B12
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin B12'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Choline
        <ion-note item-right>
            {{ nutritionData.vitamins['Choline'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Betaine
        <ion-note item-right>
            {{ nutritionData.vitamins['Betaine'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin D2
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin D2'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin D3
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin D3'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin E
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin E'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Vitamin K
        <ion-note item-right>
            {{ nutritionData.vitamins['Vitamin K'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Astaxanthin
        <ion-note item-right>
            {{ nutritionData.vitamins['Astaxanthin'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Canthaxanthin
        <ion-note item-right>
            {{ nutritionData.vitamins['Canthaxanthin'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Coenzyme Q10
        <ion-note item-right>
            {{ nutritionData.vitamins['Coenzyme Q10'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        beta-Cryptoxanthin
        <ion-note item-right>
            {{ nutritionData.vitamins['beta-Cryptoxanthin'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        alpha-Lipoic acid
        <ion-note item-right>
            {{ nutritionData.vitamins['alpha-Lipoic acid'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Lutein
        <ion-note item-right>
            {{ nutritionData.vitamins['Lutein'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Lycopene
        <ion-note item-right>
            {{ nutritionData.vitamins['Lycopene'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Zeaxanthin
        <ion-note item-right>
            {{ nutritionData.vitamins['Zeaxanthin'] }} mg
        </ion-note>
    </ion-item>

</ion-list>
<ion-list>
    <ion-list-header>
        Amino acids
    </ion-list-header>
    <ion-item>
        Alanine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Alanine'] : nutritionData.aminoAcids['Alanine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Arginine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Arginine'] : nutritionData.aminoAcids['Arginine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Aspargine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Aspargine'] : nutritionData.aminoAcids['Aspargine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Aspartic acid
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Aspartic acid'] : nutritionData.aminoAcids['Aspartic acid']
            }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Cysteine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Cysteine'] : nutritionData.aminoAcids['Cysteine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Glutamine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Glutamine'] : nutritionData.aminoAcids['Glutamine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Glutamic acid
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Glutamic acid'] : nutritionData.aminoAcids['Glutamic acid']
            }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Glycine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Glycine'] : nutritionData.aminoAcids['Glycine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Histidine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Histidine'] : nutritionData.aminoAcids['Histidine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Isoleucine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Isoleucine'] : nutritionData.aminoAcids['Isoleucine'] }}
            g
        </ion-note>
    </ion-item>
    <ion-item>
        Leucine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Leucine'] : nutritionData.aminoAcids['Leucine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Lysine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Lysine'] : nutritionData.aminoAcids['Lysine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Methionine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Methionine'] : nutritionData.aminoAcids['Methionine'] }}
            g
        </ion-note>
    </ion-item>
    <ion-item>
        Phenylalanine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Phenylalanine'] : nutritionData.aminoAcids['Phenylalanine']
            }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Proline
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Proline'] : nutritionData.aminoAcids['Proline'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Serine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Serine'] : nutritionData.aminoAcids['Serine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Threonine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Threonine'] : nutritionData.aminoAcids['Threonine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Tryptophan
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Tryptophan'] : nutritionData.aminoAcids['Tryptophan'] }}
            g
        </ion-note>
    </ion-item>
    <ion-item>
        Tyrosine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Tyrosine'] : nutritionData.aminoAcids['Tyrosine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Valine
        <ion-note item-right>
            {{ nutritionData['amino acids'] ? nutritionData['amino acids']['Valine'] : nutritionData.aminoAcids['Valine'] }} g
        </ion-note>
    </ion-item>

</ion-list>
<ion-list>
    <ion-list-header>
        Flavonoids
    </ion-list-header>
    <ion-item>
        Anthocyanidins
        <ion-note item-right>
            {{ nutritionData.flavonoids['Anthocyanidins'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Catechins
        <ion-note item-right>
            {{ nutritionData.flavonoids['Catechins'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Flavones
        <ion-note item-right>
            {{ nutritionData.flavonoids['Flavones'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Isoflavones
        <ion-note item-right>
            {{ nutritionData.flavonoids['Isoflavones'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Flavanones
        <ion-note item-right>
            {{ nutritionData.flavonoids['Flavanones'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Flavonols
        <ion-note item-right>
            {{ nutritionData.flavonoids['Flavonols'] }} mg
        </ion-note>
    </ion-item>

</ion-list>
<ion-list>
    <ion-list-header>
        Sterols
    </ion-list-header>
    <ion-item>
        Campesterol
        <ion-note item-right>
            {{ nutritionData.sterols['Campesterol'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Cholesterol
        <ion-note item-right>
            {{ nutritionData.sterols['Cholesterol'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Phytosterols
        <ion-note item-right>
            {{ nutritionData.sterols['Phytosterols'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        beta-Sitosterol
        <ion-note item-right>
            {{ nutritionData.sterols['beta-Sitosterol'] }} mg
        </ion-note>
    </ion-item>
    <ion-item>
        Stigmasterol
        <ion-note item-right>
            {{ nutritionData.sterols['Stigmasterol'] }} mg
        </ion-note>
    </ion-item>

</ion-list>
<ion-list>
    <ion-list-header>
        Other content
    </ion-list-header>
    <ion-item>
        Alcohol
        <ion-note item-right>
            {{ nutritionData.other['Alcohol'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Caffeine
        <ion-note item-right>
            {{ nutritionData.other['Caffeine'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Melatonin
        <ion-note item-right>
            {{ nutritionData.other['Melatonin'] }} g
        </ion-note>
    </ion-item>
    <ion-item>
        Theobromine
        <ion-note item-right>
            {{ nutritionData.other['Theobromine'] }} g
        </ion-note>
    </ion-item>
</ion-list>