h1, h2, h3, h4, h5, h6, ion-navbar, ion-menu {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
}

ion-content {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

ion-navbar, ion-toolbar {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(126,176,252,1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(126,176,252,1);
    box-shadow: 0px 1px 4px 0px rgba(126,176,252,1);
}

.side-menu ion-content{
    background-color: #7eb0fc;
}

.side-menu ion-list, .side-menu button {
    background: transparent;
    color: white;
    padding: 2em auto;
}

.item-remove-button {
    margin: 2em 1em 0 1em;
    font-size: 14px;
}

ion-content {
    background-color: rgba(240, 240, 255, 1);
}

ion-card {
    -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 255, 255, 0.9);
    -moz-box-shadow: 0px 4px 10px -2px rgba(0, 255, 255, 0.9);
    box-shadow: 0px 4px 10px -2px rgba(0, 255, 255, 0.9);
}

ion-searchbar input {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(126,176,252,1)!important;
    -moz-box-shadow: 0px 1px 4px 0px rgba(126,176,252,1)!important;
    box-shadow: 0px 1px 4px 0px rgba(126,176,252,1)!important;
}

.bad {
    color: red;
}

.good {
    color: #2FB16F;
}

.float-button {
    z-index: 10;
}