<ion-navbar *navbar>
  <ion-title>{{ userLogin ? 'Login' : 'Sign up' }}</ion-title>
</ion-navbar>

<ion-content class="authentication">
  <form *ngIf="userLogin" #loginForm="ngForm" (ngSubmit)="passwordLogin(loginForm.value)">
    <h1 text-center light>Life Guide</h1>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" ngControl="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="Password" ngControl="password" required></ion-input>
    </ion-item>
    <div padding>
      
      <button light block (click)="changeAuthMethod()">Sign up</button>
      <button ion-item (click)="googleLogin()">
        <ion-icon light item-left name="logo-google">
        </ion-icon>
        Log in with Google
        </button>
      <button ion-item (click)="facebookLogin()">
        <ion-icon light item-left name="logo-facebook">
        </ion-icon>
        Log in with Facebook
        </button>
    </div>
  </form>

  <form *ngIf="!userLogin" #registerForm="ngForm" (ngSubmit)="createAccount(registerForm.value)">
    <h1 text-center light>Life Guide</h1>
    <!--
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" ngControl="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Age</ion-label>
      <ion-input type="number" ngControl="age" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Gender</ion-label>
      <ion-select ngControl="gender" required>
        <ion-option value="Male">Male</ion-option>
        <ion-option value="Female">Female</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Weight</ion-label>
      <ion-input placeholder="kg" type="number" ngControl="weight" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Height</ion-label>
      <ion-input placeholder="cm" type="number" ngControl="height" required></ion-input>
    </ion-item>
    -->
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" ngControl="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="Password" ngControl="password" required></ion-input>
    </ion-item>
    <div padding>
      <button block light type="submit" [disabled]="!registerForm.form.valid">Create account</button>
      <button block light (click)="changeAuthMethod()">Log in</button>
    </div>
  </form>
</ion-content>