.authentication {
    background-image: url('../../assets/abstract-blue.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    form {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        padding: 15vh 25vw;
        @media screen and(orientation: landscape) {
            @media screen and(max-height: 400px) {
                height: 120%;
                padding: 0 25vw!important;
            }
             @media screen and(max-height: 600px) {
                padding: 5vh 25vw!important;
            }
        }
         @media screen and(min-height: 500px) and(max-width: 500px) {
             padding: 17vh 10vw;
         }
         @media screen and(max-height: 500px) and(min-width: 500px) {
             padding: 15vh 25vw;
         }
         @media screen and(max-height: 500px) and(max-width: 500px) {
             padding: 8vh 10vw;
         }
        ion-input, ion-item, [ion-item] {
            background: transparent;
            color: white;
        }
        ion-label {
            color: white;
        }
        h1 {
            font-size: 48px;
        }
    }
}
