@import '../pages/fitness/activity-plans/activity-plans';
@import '../pages/fitness/meal-plans/meal-plans';
@import '../pages/fitness/profile/profile';

.table-input {
    background: none;
    width: 50%;
}

.table-item-remove {
    margin: 0;
}