<ion-navbar light *navbar>
    <ion-buttons start>
        <button (click)="doneAdding()">
            <ion-icon name="done-all"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Add meals</ion-title>
    <ion-buttons end>
        <button (click)="cancelAdd()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
</ion-toolbar>
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let recipe of recipes | async | itemSearch: searchQuery: 'name'">
            <ion-label>{{ recipe.name }}</ion-label>
            <ion-checkbox [(ngModel)]="recipe.checked" (click)="setMeal(recipe)">
            </ion-checkbox>
        </ion-item>
        <ion-item *ngFor="let food of food | async | itemSearch: searchQuery: 'name'">
            <ion-label>{{ food.name }}</ion-label>
            <ion-checkbox [(ngModel)]="food.checked" (click)="setMeal(food)">
            </ion-checkbox>
        </ion-item>

    </ion-list>

</ion-content>