<ion-navbar *navbar>
    <ion-buttons start>
        <button (click)="doneAdding()">
            <ion-icon name="done-all"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Add ingredients</ion-title>
    <ion-buttons end>
        <button (click)="cancelAdd()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
</ion-toolbar>
<ion-content padding>
    <ion-list>
    <ion-item *ngFor="let recipe of recipes | async | itemSearch: searchQuery">
        <ion-label>{{ recipe.name }}</ion-label>
        <ion-checkbox 
        [checked]="(selectedMeals.indexOf(recipe) !== -1)"
        (click)="changeMeal(recipe); chooseMealTime($event, recipe)">
        </ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let food of food | async | itemSearch: searchQuery">
        <ion-label>{{ food.name }}</ion-label>
        <ion-checkbox [checked]="(selectedMeals.indexOf(food) !== -1)"
        (click)="changeMeal(food); chooseMealTime($event, food)">
        </ion-checkbox>
    </ion-item>

</ion-list>

</ion-content>