<ion-item class="plan-date">
    <ion-icon name="calendar" item-left></ion-icon>
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="currentDate" (ionChange)="syncMealPlan()"></ion-datetime>
    <button clear item-right (click)="editActivityPlan()">
        <ion-icon *ngIf="!editing" name="create"></ion-icon>
        <ion-icon *ngIf="editing" name="done-all"></ion-icon>
    </button>
</ion-item>

<ion-content>
    <button fab fab-bottom fab-right fab-fixed (click)="searchActivity()">
     <ion-icon name="add"></ion-icon>
    </button>

    <ion-card class="activity-plan">
        <md-toolbar>
            <md-title>Activities</md-title>
        </md-toolbar>
        <md-data-table>
            <thead>
                <tr>
                    <th *ngIf="editing && currentActivityPlan.activities">Remove activities</th>
                    <th class="md-text-cell">Activity name</th>
                    <th class="md-text-cell">Energy</th>
                    <th class="md-text-cell">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of currentActivityPlan.activities; let i = index">
                    <td *ngIf="editing">
                        <button clear (click)="removeActivity(i)">
                        <ion-icon primary name="trash"></ion-icon>
                        </button>
                    </td>
                    <td class="md-text-cell">{{ activity.name }}({{ activity.details }})</td>
                    <td>{{ activity.energy }}kcal</td>
                    <td *ngIf="!editing">{{ activity.time }}min</td>
                    <td *ngIf="editing">
                        <ion-input item-right placeholder="Minutes" type="number" [(ngModel)]="activity.time"></ion-input>
                    </td>
                </tr>
                <tr>
                    <td *ngIf="editing && currentActivityPlan.activities"></td>
                    <td>Total</td>
                    <td>{{ currentActivityPlan.totalEnergy }}kcal</td>
                    <td>{{ currentActivityPlan.totalDuration }}min</td>
                </tr>
            </tbody>
        </md-data-table>
    </ion-card>
</ion-content>