<ion-navbar gray *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Nutrients</ion-title>
</ion-navbar>

<ion-toolbar light>
  <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="nutrientGroup">
      <ion-segment-button value="macronutrients">
        Macronutrients
      </ion-segment-button>
      <ion-segment-button value="micronutrients">
        Micronutrients
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="nutrientGroup">

    <ion-list class="nutrient-list" *ngSwitchWhen="'micronutrients'">
      <ion-item-sliding class="nutrient-list-item" *ngFor="let micronutrient of micronutrients | async | itemSearch: searchQuery">
        <ion-item>
          <ion-thumbnail item-left>
            <img src="img/{{micronutrient.name}}.png">
          </ion-thumbnail>
          <h2>{{ micronutrient.name }}</h2>
          <p> {{ micronutrient.category }}</p>
          <ion-note item-right>
            Swipe
          </ion-note>
        </ion-item>
        <ion-item-options>
          <button (click)="openNutrientDetails(micronutrient)">
        <ion-icon name="book"></ion-icon>
        Read more
      </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list class="nutrient-list" *ngSwitchWhen="'macronutrients'">
      <ion-item-sliding class="nutrient-list-item" *ngFor="let macronutrient of macronutrients | async | itemSearch: searchQuery">
        <ion-item>
          <ion-thumbnail item-left>
            <img src="img/{{macronutrient.name}}.png">
          </ion-thumbnail>
          <h2>{{ macronutrient.name }}</h2>
          <p> {{ macronutrient.category }}</p>
          <ion-note item-right>
            Swipe
          </ion-note>
        </ion-item>
        <ion-item-options>
          <button (click)="openNutrientDetails(macronutrient)">
        <ion-icon name="book"></ion-icon>
        Read more
      </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>