<navbar [pageTitle]="'Nutrients'" (searchTrigger)="filterNutrient($event)"></navbar>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="nutrientGroup">
      <ion-segment-button value="macronutrients">
        Macronutrients
      </ion-segment-button>
      <ion-segment-button value="micronutrients">
        Micronutrients
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="nutrientGroup">
    <div *ngSwitchWhen="'micronutrients'">
      <ion-card *ngFor="let micronutrient of micronutrients | async | itemSearch: searchQuery: 'name' | itemLimit: limitQuery">
        <ion-card-header>
          {{ micronutrient.name }}
        </ion-card-header>
        <ion-card-content [innerHtml]="micronutrient.description">
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button clear secondary (click)="openNutrientDetails(micronutrient)">
              <ion-icon name='book'></ion-icon>
              Read more
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngSwitchWhen="'macronutrients'">
      <ion-card *ngFor="let macronutrient of macronutrients | async | itemSearch: searchQuery: 'name' | itemLimit: limitQuery">
        <ion-card-header>
          {{ macronutrient.name }}
        </ion-card-header>
        <ion-card-content [innerHtml]="macronutrient.description">
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button clear secondary (click)="openNutrientDetails(macronutrient)">
              <ion-icon name='book'></ion-icon>
              Read more
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>