.meal-plan {
    overflow-x: scroll;
    md-toolbar {
        width: 100%;
        background: none;
    }
}
.meal-plan-date {
    text-align: center;
    color: darkslategray;
    ion-icon {
        margin-bottom: 0.5em;
    }
}
