<ion-navbar light *navbar class="top-nav">
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-buttons end *ngIf="!showSearch">
    <button (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
  </ion-buttons>
  <ion-buttons end *ngIf="showSearch">
    <ion-item>
      <ion-label><ion-icon name="search"></ion-icon></ion-label>
      <ion-input #searchQuery (keyup)="searchItem(searchQuery.value)"></ion-input>
      <button clear type="button" item-right (click)="toggleSearch()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-buttons>
  <ion-buttons end *ngIf="userImage">
    <ion-avatar>
      <img [src]="userImage">
    </ion-avatar>
  </ion-buttons>
  <ion-title>{{ pageTitle }}</ion-title>
</ion-navbar>