<navbar [pageTitle]="'Recipes'" (searchTrigger)="filterRecipes($event)"></navbar>
<ion-content class="recipes" padding>
  <ion-toolbar light class="filter-options">
    <ion-buttons start *ngIf="ingredientsQuery.length">
      <button secondary clear small *ngFor="let ingredient of ingredientsQuery; let i = index" (click)="removeIngredientQ(i)">
        <ion-icon name="close"></ion-icon>
        {{ ingredient.name }}
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)="showIngredients()">
        <ion-icon name="funnel"></ion-icon>
        Ingredients
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <div padding>
    <ion-segment [(ngModel)]="recipeFilter">
      <ion-segment-button value="mine">
        My recipes
      </ion-segment-button>
      <ion-segment-button value="all">
        All recipes
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="recipeFilter">
    <div *ngSwitchWhen="'mine'">
      <ion-card *ngFor="let recipe of myRecipes | async | ingredientSearch: ingredientsQuery | itemSearch: searchQuery : recipeQuery | itemLimit: limitQuery">
        <ion-card-header>
          {{ recipe.name }}
        </ion-card-header>
        <ion-card-content padding>
          <p>{{ recipe.category }}</p>
          <p>{{ recipe.dietary }}</p>
          <p>{{ recipe.nutrients.energy.toFixed(0) }} kcal</p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button clear small secondary (click)="openRecipeDetails(recipe)">
              <ion-icon name='book'></ion-icon>
              Read more
            </button>
          </ion-col>
          <ion-col text-center>
            <button clear small primary (click)="editRecipe(recipe)">
              <ion-icon name='create'></ion-icon>
              Edit
            </button>
          </ion-col>
          <ion-col text-right>
            <button clear small danger (click)="removeRecipe(recipe)">
              <ion-icon name='trash'></ion-icon>
              Delete
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngSwitchWhen="'all'">
      <ion-card *ngFor="let recipe of allRecipes | async | ingredientSearch: ingredientsQuery | itemSearch: searchQuery : recipeQuery | itemLimit: limitQuery">
        <ion-card-header>
          {{ recipe.name }}
        </ion-card-header>
        <ion-card-content padding>
          <p>{{ recipe.category }}</p>
          <p>{{ recipe.dietary }}</p>
          <p>{{ recipe.nutrients.energy.toFixed(0) }} kcal</p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button clear secondary (click)="openRecipeDetails(recipe)">
              <ion-icon name='book'></ion-icon>
              Read more
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <button primary fab fab-bottom fab-right fab-fixed (click)="createRecipe()">
    <ion-icon name="color-wand"></ion-icon>
  </button>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>