<ion-navbar light *navbar>
    <ion-title>Write a post</ion-title>
    <ion-buttons end>
        <button (click)="editPost()">
            <ion-icon *ngIf="!editing" name="create"></ion-icon>
            <ion-icon *ngIf="editing" name="done-all"></ion-icon>
        </button>
        <button (click)="showOptions($event)">
            <ion-icon name="options"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content padding>
    <div *ngIf="editing">
        <ion-card class="post" #postContent>
            <ion-card-header>
                <ion-input [(ngModel)]="post.title" placeholder="Title"></ion-input>
                <ion-input [(ngModel)]="post.author" placeholder="Author"></ion-input>
            </ion-card-header>
            <ion-card-content class="post-content">
                <div *ngFor="let element of postElements; let i = index">
                    <ion-textarea rows="1" (keyup)="updateSize(postElement)" (click)="logFocused(postElement)" #postElement [value]="element" class="post-quote" *ngIf="tags[i] === 'blockquote'" placeholder="Add your quoute"></ion-textarea>
                    <ion-textarea rows="1" (keyup)="updateSize(postElement)" (click)="logFocused(postElement)" #postElement [value]="element" class="post-headline" *ngIf="tags[i] === 'h1'" placeholder="Add your headline"></ion-textarea>
                    <ion-textarea (keyup)="updateSize(postElement)" (click)="logFocused(postElement)" #postElement [value]="element" class="post-paragraph" *ngIf="tags[i] === 'p'" placeholder="Add your paragraph"></ion-textarea>
                </div>
            </ion-card-content>
        </ion-card>
        <button block secondary>Add post</button>
    </div>
    <div *ngIf="!editing">
        <div [innerHtml]="post.content"></div>
    </div>
</ion-content>